<div class="row">
	<div class="col-md-4">
		<% if current_user != nil %>
			<div class="user-box">
				<div class="row user-header">
				</div>
				<div class="row">
					<div class="col-md-4">
						<% if current_user.avatar.blank? == false %>
						<div class="user-avatar">
							<%= image_tag current_user.avatar.url, size:72%>
						</div>
						<% end %>
					</div>
					<div class="col-md-8">
						<h3 class="user-name"><%= current_user.username %></h3>
						 @<%= current_user.username %>
					</div>
					
				</div>
				<div class="row">
					<div class="col-md-4">?
					</div>
					<div class="col-md-4">?
					</div>
					<div class="col-md-4">?
					</div>
				</div>
				
			</div>
		<% end %>
		</div>
	<div class="col-md-8">
		<div>
			<% @following_tweets.each do |tweet| %>
				<div class="well">
					<p>@<%= link_to tweet.user.username, show_user_path(id: tweet.user.id) %></p>
					<p><%= tweet.message.html_safe %></p>
					<p><%= time_ago_in_words(tweet.created_at) if Time.now - tweet.created_at < 86400 %></p>

					<p><%= tweet.created_at.strftime('%b%e') if Time.now - tweet.created_at >= 86400 %></p>
				</div>
			<% end %>
		</div>
	</div>
	


	
</div>
